@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=M+PLUS+Rounded+1c:wght@300;400&display=swap');
/* import two fonts you like here or in the html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* how to center the main`? */
  display: grid;
  place-items: center;
  font-family: "Aboreto", cursive;
  /* use a font on your page */
}
main.container {
  width: 60vh;
  height: 80vh;
  padding: 30px;
  background-color: white;
  font-size: 2em;
  color: hsl(0, 0%, 49%);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: large;

  /* how to arrange children? */
}

.shadow {
  background-color: aqua;
  width: 40%;
  height: 40%;
  /* how to center the text`? */

  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;

  /* add cursor pointer here or in each child? */
}
.shadow:nth-child(1) {
    
    font-family: 'Aboreto', cursive;
font-family: 'M PLUS Rounded 1c', sans-serif;
   
}
    
  
/* first try to make similar shadows,then make shadows that you like */
/* make them triggerd by hover */
/* add text shadow and text elevation effect */

/* you can use :nth-child() instead of id if you want */
#one:hover {
  box-shadow: 15px 15px 15px red;

  /* use another font on a spesific element */
}

#two:hover {

    box-shadow: 15px 15px 15px gray;
}
/* add text shadow and then text elevation effect with transform scale` */
#two h4:hover {

    text-shadow: 15px 15px 15px blueviolet;
    transform: scale(1.2);
    transition: .5s;
}
#three:hover{
    box-shadow: 10px 10px 10px green;
}

#four:hover {
    box-shadow: 15px 15px 15px gray;
}
